.card {
  padding: 16px;
  min-width: 120px;
  aspect-ratio: 2 / 3;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.04);
  transition: background-color 1s;
  cursor: pointer;

  .image {
    position: relative;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 3px;
    }
    &.artist img {
      border-radius: 50%;
    }

    .play-btn {
      position: absolute;
      right: 4px;
      bottom: 4px;

      width: 60px;
      opacity: 0;
      transition: opacity 0.75s;

      ion-icon {
        font-size: 58px;
        color: #57b65f;
      }
      ::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: #000;
        z-index: -1;
      }

      &:hover ion-icon {
        font-size: 60px;
      }
    }
  }

  .text {
    padding-top: 22px;
    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-subtitle {
      padding-top: 8px;
      color: #b3b3b3;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
    .image .play-btn {
      opacity: 1;
    }
  }
}

/* Mobile Screen */
@media screen and (max-width: 540px) {
  .card {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);

    .image {
      img {
        border-radius: 0;
      }
      .play-btn {
        display: none;
      }
    }
    .text {
      padding-top: 10px;
      .card-title {
        display: none;
      }
      .card-subtitle {
        padding: 0;
      }
    }
  }
}
